.row-padding {
    padding: .25rem .3rem;
    position: relative;
//  box-sizing: border-box;
}
.row-border-bottom {
    border-bottom: .2rem solid #f5f6f7;
}
.row-item { // 用于touchstart、touchend,有这个标签，点击会有效果

}
.row-content {
    height: 100%;
    overflow: hidden;
}
.row-slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.row-btn {
    width: 3.4rem;
    height: .68rem;
    border-radius: .5rem;
    color: white;
    line-height: .68rem;
    margin: 0 auto;
    text-align: center;
}
.row-bg-color_white {
    background: white;
}
.row-icon-right {
    margin-left: .12rem;
    height: .22rem;
    width: .14rem;
}
.row-checkbox {
    display: block;
    background-color: #fff;
    border-radius: 100%;
    border: .01rem solid #4e99fd;
    width: .44rem;
    height: .44rem;
    background-size: 100% 100%!important;
    transform: scale3d(1,1,1);
    transition: all .2s ease;
}
