// 背景颜色
@background-header: linear-gradient(90deg, #3f8df7 0%, #48b8ff 100%), linear-gradient(0deg, #559bfb 0%, #56c9fe 100%);
@background-blue-back: linear-gradient(90deg, #56c9fe 0%, #559bfb 100%);

// color
@color-hui: #b1b2b3;
@color-hui1: #f5f6f7; // 淡灰
@color-org: #ff765b;

// 字体
@font-size-big: .4rem;
@font-size-header_title: .36rem;
@font-size-item_title: .3rem;
//@font-size-item_det: .28rem; 字体默认为.28rem
@font-size-item_det1: .26rem;
@font-size-smail: .24rem;
